<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCudDQO5ByT__F5pochyoyKQzq_j7dIl6I</string>
	<key>GCM_SENDER_ID</key>
	<string>955678244088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniprojectUnsecured</string>
	<key>PROJECT_ID</key>
	<string>miniproject-4ed10</string>
	<key>STORAGE_BUCKET</key>
	<string>miniproject-4ed10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955678244088:ios:0455e4a81afd648fd10f0d</string>
</dict>
</plist>